/*! general */
html {
  color: #5b5b5b;
  font-family: Helvetica, Sans-serif;
  font-size: 14px;
  height: 100vh;
  margin: 1rem;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:visited {
  color: #660099;
}

ul {
  list-style: none;
  font-size: 12px;
}

#logo {
  width: 150px;
}

/** search */
#search {
  text-align: center;
}

#search input {
  margin-top: 20px;
  margin-bottom: 20px;
}

/** search form (both pages) */
input {
  border: #c4c4c4 1px solid;
  border-radius: 25px;
  color: #5b5b5b;
  height: 40px;
  width: 400px;
  padding-left: 20px;
}

button {
  background-color: #4285f3;
  border: #1a5fd0 1px solid;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  width: 80px;
}

button:hover {
  color: #5998ff;
}

/** results */

  /** header */

#results #header {
  display: grid;
  grid-template-columns: 160px auto;
} */

#results #header {
  border-bottom: 1px solid #c4c4c4;
}

#results #header img#logo {
  width: 100px;
  margin: 5px 30px 10px 10px;
}

#results button {
  margin-left: 20px;
}

  /** body */

#results #body {
  margin-left: 190px;
}

/** result */

#result-count {
  margin-top: 20px;
  margin-bottom: 40px;
}

.result ul {
  margin-block-start: 0px;
  padding-inline-start: 0px;
}
.result li {
  display: inline;
}
.result li + li {
  margin-left: 15px;
}